.feedContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: calc(100vh - 56px);
}

.activeLink {
  background-color: red;
}

.folderList {
  flex-grow: 1;
  max-width: 300px;
  flex-shrink: 0;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;

  border-right: 1px solid #d2d8de;
}

.editBox {
  padding-top: 16px;

  padding-left: 8px;
  padding-right: 8px;

  background-color: rgba(230, 230, 230, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editBox button {
  width: 100%;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px #357edd;
  color: white;
  cursor: pointer;
  padding: 4px;
  text-decoration: none;
  user-select: none;
  border-radius: 4px;
}

.editText {
  color: #212121;
}

/* Add a background color on hover */
.editBox button:hover {
  filter: brightness(80%);
}

.icon {
  cursor: pointer;
  display: flex;
  margin-right: 16px;
}
