cmd/hydrocarbon/hydrocarbon
cmd/hydrocarbon/hydrocarbon.exe

cmd/hydrocollect/hydrocollect
cmd/hydrocollect/hydrocollect.exe

vendor/

.DS_Store
ui/node_modules/
ui/build/
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

public/assets_generated.go