!#arg feeds []hydrocarbon.Feed

!#extends base

!#sub body

<ul class="sidebar">
	<li><a href="/feeds/new">New Feed</a></li>
! for _, f := range loggedInUser.Folders {
	<li>Folder {{s f.Name }}</li>
	{{! for _, fd := range f.Feeds }}
	    <li><a href="/feeds?id={{s fd.ID}}">{{s fd.Name }}</a></li>
	{{! end }}
! }
</ul>

<div class="posts">


</div>
