!#arg feeds []hydrocarbon.Feed

!#extends base

!#sub body

<div class="sidebar">

<ul>
	<li class="sidebar-content"><a href="/feeds/new">New Feed</a></li>
! for _, f := range feeds {
	<li class="sidebar-content">{{ f.Name }}<a href="/feeds?id={{ f.ID }}">link</a></li>
! }
</ul>

</div>

<div class="posts">


</div>
