!#arg feed *hydrocarbon.Feed
!#arg posts []hydrocarbon.Post

!#extends base

!#sub body


<h1>{{ feed.Name }}</h1>

! for _, post := range posts {
	<h2> {{ post.Title }}</h2>
	<p> {{ post.Content }}</p>
	<br>
! }
