!#extends base

!#sub body

<div id="register">

<h1>Login</h1>

<form action="login" method="post">
  Email <input type="email" name="email"><br>
  Password <input type="password" name="password"><br>
  <a href="password_reset">forgot password?</a><br>
  <input type="submit" value="Submit">
</form>

</div>
