!#extends base

!#sub body

<div class="form" id="new-feed">
  <h1>New Feed</h1>
  <form action="/feeds/new" method="post">
    Name <input type="text" name="name"><br>
    Plugin <input type="text" name="plugin"><br>
    URL  <input type="text" name="url"><br>
    <input type="submit" value="Submit">
  </form>
</div>
