!#extends base

!#sub body

<div id="password_reset">

<h1>Password Reset</h1>

<form action="password_reset" method="post">
  Email <input type="email" name="email"><br>
  if your email is registered, we'll send you an email<br>
  <input type="submit" value="Submit">
</form>

</div>
