!#extends base

!#sub body

<div class="form" id="register">

<h1>Registration</h1>

<form action="register" method="post">
  Email <input type="email" name="email"><br>
  Password <input type="password" name="password"><br>
  opt-in to <a rel="nofollow" href="/privacy">analytics?</a> <input type="checkbox" name="analytics"/><br>
  <a href="/login">already have an account? login</a><br>
  <a href="/password_reset">forgot your password?</a><br>
  <input type="submit" value="Submit">
</form>

</div>
