!#extends base

!#sub head

!#sub body

<div id="register">

<h1>Registration</h1>

<form action="register" method="post">
  Email <input type="email" name="email"><br>
  Password <input type="password" name="pass"><br>
  <a href="password_reset">already have an account? login</a><br>
  <input type="submit" value="Submit">
</form>

</div>
