@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.layout {
  /* same as medium/wordpress.com */
  font-family: system;
  margin-top: 56px;
  background: #fdfdfd;
  color: #212121;
}

@media only screen and (max-width: 440px) {
  .layout {
    margin-top: calc(56px * 2);
  }
}

body {
  margin: 0;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  text-decoration: none;
  user-select: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

button:hover,
button:active,
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 16px;
  background-color: #d2d8de; /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
  width: 4px;
  background: #a8acb1;
}
