.layout {
  font-family: "Fira Sans", sans-serif;
  margin-top: 56px;
  background: #fdfdfd;
  color: #212121;
}

@media only screen and (max-width: 440px) {
  .layout {
    margin-top: calc(56px * 2);
  }
}

body {
  margin: 0;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  text-decoration: none;
  user-select: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

button:hover,
button:active,
button:focus {
  outline: none;
}
