.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 32px;
}

h1 {
  width: 100%;
  display: flex;
}

.body {
  display: flex;
  flex-direction: column;
}
