.postView {
  width: 85%;
  height: 100%;
  max-height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
}

.postList {
  width: 15%;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;

  list-style-type: none;
  padding: 0px;

  border-right: 1px solid #d2d8de;
}

.postListInside {
  list-style-type: none;
  padding: 0px;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
}

.activePost {
  background-color: rgb(230, 230, 230);
}

.post:hover {
  background-color: rgb(230, 230, 230);
}

.unreadPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  padding: 8px;
}

.unreadPost:hover {
  background-color: rgb(230, 230, 230);
}

.post span {
  display: flex;
}

.postTitle {
  text-overflow: ellipsis;
}

.postTime {
  font-size: 12px;
}

.postContent {
  width: 85%;
  padding: 16px;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
}

.postInnerContent {
  padding: 8px;
}

.postSubHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.postBody {
  display: flex;
  flex-direction: column;
}

.postBody img {
  object-fit: cover;
  height: 300px;
  max-width: 80%;
  display: flex;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}
