.postView {
  flex: 1 1 auto;
  height: 100%;
  max-height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
}

.postList {
  flex-grow: 2;
  flex-shrink: 0;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;

  list-style-type: none;
  padding: 0px;

  border-right: 1px solid #d2d8de;
}

.postListInside {
  margin-top: 0px;
  list-style-type: none;
  padding: 0px;
}

.postListInside > a {
  color: #212121;
}

.postListInside > a:visited {
  color: #212121;
}

.paginationContainer {
  background-color: #e6e6e6;
  border-bottom: 1px solid #212121;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paginationContainer > a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  padding: 8px;
}

.paginationContainer > a:visited {
  color: #212121;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
}

.activePost {
  background-color: rgb(230, 230, 230);
}

.post:hover {
  background-color: rgb(230, 230, 230);
}

.unreadPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
}

.unreadPost:hover {
  background-color: rgb(230, 230, 230);
}

.post span {
  display: flex;
}

.postTitle {
  text-overflow: ellipsis;
}

.postTime {
  font-size: 12px;
}

.postContent {
  width: 85%;
  padding: 16px;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
}

.postInnerContent {
  padding: 8px;
}

.postSubHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.postBody {
  display: flex;
  flex-direction: column;
}

.postBody img {
  object-fit: contain;
  max-height: 450px;
  display: flex;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}
