{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                },
                "modules": false
            }
        ]
    ],
    "plugins": [
        "external-helpers",
        "transform-object-rest-spread",
        [
            "transform-react-jsx",
            {
                "pragma": "h" // default pragma is React.createElement
            }
        ]
    ]
}
