.folderListInside {
  list-style-type: none;
  margin: 16px;
  padding: 0px;
}

.folder {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}

.folderTitle {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.folderTitle a {
  display: flex;
}

.folderSubTitle {
  display: flex;
  align-items: center;
}

.folderSubTitle img {
  margin-right: 16px;
}

.folderSubList {
  transition: opacity 0.3s, visibility 0.3s;
  list-style-type: none;

  margin-bottom: 16px;
  margin-top: 16px;
  padding: 0px 0px 0px 16px;
}

.collapsedFolder {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.icon {
  cursor: pointer;
  display: flex;
}

.feed {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
}

.activeFeed {
  font-weight: 700;
}

.searchBox {
  padding: 8px;

  background-color: rgba(230, 230, 230, 1);

  border-bottom: 1px solid #d2d8de;
  display: flex;
  justify-content: center;
}
